@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: radial-gradient(circle at center, #050505 0%, #000 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

/* === SETUP SCREEN === */
.setup {
  text-align: center;
  animation: fadeIn 1s ease;
}

.title {
  font-size: 3rem;
  color: #00eaff;
  text-shadow: 0 0 30px #00eaff;
  margin-bottom: 30px;
}

.setup-box {
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid #00eaff55;
  border-radius: 15px;
  padding: 40px;
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 0 25px #00eaff22;
}

.setup-box input {
  padding: 15px;
  background: #111;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  box-shadow: inset 0 0 10px #00eaff55;
}

#startBtn {
  background: linear-gradient(45deg, #00eaff, #00ff99);
  border: none;
  border-radius: 12px;
  padding: 15px;
  font-size: 1.2rem;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 20px #00ff99aa;
}
#startBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px #00ffcc;
}

/* === SCOREBOARD === */
.scoreboard {
  text-align: center;
  animation: fadeIn 1s ease;
  width: 100%;
  height: 100%;
}

.top-bar {
  margin-bottom: 40px;
}

#timer {
  font-size: 5rem;
  color: #ff3366;
  text-shadow: 0 0 40px #ff3366;
}

.players {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
}

.player {
  background: rgba(255, 255, 255, 0.08);
  border: 3px solid #00eaff77;
  border-radius: 20px;
  padding: 40px;
  width: 300px;
  box-shadow: 0 0 40px #00eaff33;
}

.player h2 {
  color: #00eaff;
  margin-bottom: 20px;
  font-size: 2rem;
  
}

.score {
  font-size: 5rem;
  margin: 25px 0;
  color: #fff;
  text-shadow: 0 0 30px #00eaff;
}

.btn {
  background: linear-gradient(45deg, #906473, #602d6b);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 12px 20px;
  margin: 10px;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
  
}
.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px #a375a5;
}

#resetBtn {
  margin-top: 40px;
  padding: 15px 30px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(45deg, #00eaff, #00ff99);
  color: #000;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 30px #00eaff99;
}
#resetBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px #00ffcc;
}

.result {
  margin-top: 30px;
  font-size: 2rem;
  color: #00ffcc;
  text-shadow: 0 0 25px #00ffcc;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
